*{
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
}

body{
    background-color: #001D3D;
}

.header-container{
    display: block;
    width: 100%;
    margin-top: 35px;
}


.header-menu-options{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
}

.header-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccd6f6;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.header-menu-options:hover li {
    filter: blur(3px);
}

.header-menu-options li:hover {
    filter: blur(0px);
}






.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
}


.profile-tittle-name{
    text-transform: uppercase;
    color: #ccd6f6;
    font-size: 80px;
    font-weight: 800;
}

.highlight{
    color: #FFC300;
}

.profile-subtitle{
    color: #ccd6f6;
    font-weight: 800;
    font-size: 18px;
}

.angles-down{
    width: 70px;
    height: 70px;
    background-color: #FFC300;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 70px;
    animation-name: moving;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(.9,.19,.72,.85);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}