*{
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
}

body{
    background: radial-gradient(circle, hsla(202, 78%, 49%, 1) 0%, hsla(211, 100%, 12%, 1) 100%);    background-size: cover;
}

.header-container{
    display: block;
    width: 100%;
    margin-top: 35px;
}


.header-menu-options{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
}

.header-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccd6f6;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.header-menu-options:hover li {
    filter: blur(3px);
}

.header-menu-options li:hover {
    filter: blur(0px);
}






.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}


.profile-tittle-name{
    text-transform: uppercase;
    color: #ccd6f6;
    font-size: 80px;
    font-weight: 800;
}

.highlight{
    color: #FFC300;
}

.profile-subtitle{
    color: #ccd6f6;
    font-weight: 800;
    font-size: 18px;
}

.angles__down_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-color: #FFC300;
    border-radius: 50%;
    margin-bottom: 0px;
}

.angles__down{
    width: 120px;
    height: 120px;
}
